* {
    padding: 0;
    margin: 0;
}

canvas {
    background: transparent;
    display: block;
    margin: 0 auto;
}

#rightClickMenu {
    display: none;
    position: absolute;
    width: 120px;
    background-color: white;
    box-shadow: 0 0 5px grey;
    border-radius: 3px;
}

#rightClickMenu button {
    width: 100%;
    background-color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

#rightClickMenu button:hover {
    background-color: lightgray;
}