<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>DnD Game Board</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/game_board.css') }}">
</head>

<div class="topnav">
    <a class="active" href="./gameBoard">Game Board</a>
    <a href="./boardTools">Board Tools</a>
    <a href="./sandbox">Sandbox</a>
    <a href="./">Index</a>
</div>

<body>

    <div id="canvasHolder" style="position:relative;"></div>

    <div id="rightClickMenu" style="z-index: 20">
        <div>
            <button id="clear-fow">Clear Fog</button>
        </div>
        <div>
            <button id="apply-fow">Add Fog</button>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js" crossorigin="anonymous"></script>
    <script type="module" src="/static/js/client.js"></script>

</body>

</html>