<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
  integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous">
</head>
<body style="background-color:rgb(39, 39, 39);">
  <title style="color:rgb(143, 77, 23);">Login</title>
  <h1 style="color:rgb(143, 77, 23);">Login</h1>
  <form method='POST'>
    <input style="color:rgb(143, 77, 23);" type='text' name='username'><span style="color:rgb(143, 77, 23);">  Username</span></input><br>
    <input style="color:rgb(143, 77, 23);" type='password' name='pw'><span style="color:rgb(143, 77, 23);">  Password</span></input><br>
    <input type='submit' name='submit'></input><br>
  </form>
</body>

</html>